################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/.vs/WpfApp1/FileContentIndex
/WpfApp1/WpfApp1/obj/Debug/net8.0-windows
/WpfApp1/WpfApp1/obj
/WpfAppGlobalizationLocalization1/.vs/WpfAppGlobalizationLocalization1/FileContentIndex
/WpfAppGlobalizationLocalization1/UWPAppGlobalizationLocalization4/obj/x64/Debug
/WpfAppGlobalizationLocalization1/WpfAppGlobalizationLocalization1/obj/Debug/net8.0-windows
/WpfAppGlobalizationLocalization1/WpfAppGlobalizationLocalization2/obj/Debug/net8.0
/WpfAppGlobalizationLocalization1/WpfAppGlobalizationLocalization3/obj/Debug/net8.0-windows
/WpfApp1/.vs
/WpfAppTaskAsyncParallelCheck/.vs
/WpfAppTaskAsyncParallelCheck/WpfAppTaskAsyncParallelCheck/bin/Debug/net8.0-windows
/WpfAppTaskAsyncParallelCheck/WpfAppTaskAsyncParallelCheck/obj/Debug/net8.0-windows
