################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore .vs and obj folders
.vs/
obj/
bin/

# Ignore other temporary files
*.user
*.suo
*.userosscache
*.userprefs
*.tmp
*.log
